// Specific CSS for your home-page
html {
  background: url('https://res.cloudinary.com/vivelafrans/image/upload/v1567341132/Background3_zbuenp.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.hp-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.hp-btn {
  margin-left: 0px;
  margin-right: 0px;
}

.content-section {
  max-width: 450px;
}

.hp-line {
  line-height: 70%;
}

.hp-text-width {
  max-width: 400px;
}
