// Specific CSS for your home-page
html {
  background: url('https://res.cloudinary.com/vivelafrans/image/upload/v1567150696/Background_qxy3ru.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
