<div class="card-origin card-vertical text-center">
  <div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="skateboard" class="avatar-large">
  </div>
  <div>
    <h3>Thomas Muller</h3>
    <h4>Amsterdam - Football & Tennis</h4>
    <p>Recently moved from Frankfurt and looking to find a new club</p>
  </div>
</div>
