<div class="card-origin card-vertical my-2 text-center">
  <div>
    <img src="https://pilgrimageyogaonline-yaronguez.netdna-ssl.com/wp-content/uploads/2018/11/Img1-1024x675.jpg" alt="yoga studio" class="card-vertical-cover">
  </div>
  <div>
    <img src="https://d2fdpghjkacqa1.cloudfront.net/wp-content/uploads/2015/06/Semperviva_Events_KundaliniBasics_Gloria_PreviewImage-1.jpg" alt="avatar" class="avatar-bordered-card">
  </div>
  <div class="card-bottom">
    <div class="card-info">
      <h3>Thomas Muller</h3>
      <p>Age: 39, City: Amsterdam</p>
    </div>
    <div class="card-tags">
      <div class="row">
        <div class="col-4">
          <div class="tag">Underwater Hockey</div>
        </div>
        <div class="col-4">
          <div class="tag">Hockey</div>
        </div>
        <div class="col-4">
          <div class="tag">Yoga</div>
        </div>
        <div class="col-4">
          <div class="tag">Football</div>
        </div>
        <div class="col-4">
          <div class="tag">Tennis</div>
        </div>
        <div class="col-4">
          <div class="tag">Bouldering</div>
        </div>
      </div>
    </div>
  </div>
</div>
