<div class="card-origin mr-5 card-vertical text-center">
  <div>
    <img src="https://pilgrimageyogaonline-yaronguez.netdna-ssl.com/wp-content/uploads/2018/11/Img1-1024x675.jpg" alt="yoga studio" class="card-vertical-cover">
  </div>
  <div class="card-info">
    <h3>Thomas Muller</h3>
    <p>Recently moved from Frankfurt and looking to find a new club</p>
  </div>
</div>
