<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>hoi</p>

  <a href="#" class="btn btn-confirm">Click me</a>
  <a href="#" class="btn btn-other">Click me</a>


  <div class="row">
    <%= render 'shared/card-vertical' %>
  </div>

  <div class="row">
    <%= render 'shared/card-horizontal' %>
  </div>
</div>
