
<div class="questionaire">

  <div class="q1 page" style="width: 100%; height: 100%;">
    <h3>Type of sport</h3>
    <div style="height: 30%;">
      <p class="first question">Racket : you’re looking for something you can swing or hit a</p>
    </div>
    <div style="height: 30%;">
      <p class="second question">Adventure : you’re looking for something unconventional </p>
    </div>
    <div style="height: 30%;">
      <p class="third question">Good old …: I prefer something typical</p>
    </div>
  </div>

  <div class="q2 page" style="display: none; width: 100%; height: 100%;">
    <h3>Workout intensity</h3>
    <div style="height: 30%;">
      <p class="first question">Give me all you got </p>
    </div>
    <div style="height: 30%;">
      <p class="second question">I want to challenge myself but not completely overdo it</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I prefer something with little effort</p>
    </div>
  </div>

  <div class="q3 page" style="display: none; width: 100%; height: 100%;">
    <h3>Team Sports</h3>
    <div style="height: 30%;">
      <p class="first question">I prefer working in teams</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I don’t mind if I work in a team or by myself</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I’m a lonely ranger</p>
    </div>
  </div>

  <div class="q4 page" style="display: none; width: 100%; height: 100%;">
    <h3>Equipment</h3>
    <div style="height: 30%;">
      <p class="first question">I am willing to spend a high amount of money for sport</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I am willing to spend a decent amount on sport</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I am not  willing to spend anything for sport</p>
    </div>
  </div>

  <div class="q5 page" style="display: none; width: 100%; height: 100%;">
    <h3>Goals</h3>
    <div style="height: 30%;">
      <p class="first question">I want to build up muscles to increase my strength</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I want to increase my endurance</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I want to improve my flexibility,  coordination and agility</p>
    </div>
  </div>

  <div class="q6 page" style="display: none; width: 100%; height: 100%;">
    <h3>Precision sports</h3>
    <div style="height: 30%;">
      <p class="first question">I am fascinated by sports that require me to hit the mark</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">Precision is important but sport is about more than just hitting the mark</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">Targeting precise goals is nothing for me</p>
    </div>
  </div>

  <div class="q7 page" style="display: none; width: 100%; height: 100%;">
    <h3>Motivation</h3>
    <div style="height: 30%;">
      <p class="first question">I want to relax when doing sports</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I want to burn as much calories as possible and get in shape</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I want to improve my overall health</p>
    </div>
  </div>

  <div class="q8 page" style="display: none; width: 100%; height: 100%;">
    <h3>Playful sports</h3>
    <div style="height: 30%;">
      <p class="first question">If the sport is not a game, I don’t want to do it</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I don’t really care if playful elements are included in the sport</p>
    </div>
    <div style="height: 30%;">
      <p class="third question" >I rather do sports without rules and playful elements</p>
    </div>
  </div>

  <div class="q9 page" style="display: none; width: 100%; height: 100%;">
    <h3>Body Contact</h3>
    <div style="height: 30%;">
      <p class="first question">I enjoy sports where I have lots of physical contact with other people</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I am fine with physical contact as long as it is not the whole time</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I dislike the idea of having physical contact with other people</p>
    </div>
  </div>

  <div class="q10 page" style="display: none; width: 100%; height: 100%;">
    <h3>Strategy</h3>
    <div style="height: 30%;">
      <p class="first question">Games that require extensive strategic thinking really fascinate me</p>
      </div>
    <div style="height: 30%;">
      <p class="second question">I like strategy but it is not the most important aspect of sport</p>
    </div>
    <div style="height: 30%;">
      <p class="third question">I prefer sports without strategic elements</p>
    </div>
  </div>

</div>

<p class= "btn btn-confirm" id="button1">Next</p>

<p id="auth-token" style="display: none;"><%= form_authenticity_token %></p>


<script>
  const rawPages = document.querySelectorAll('.page')
  const pages = [];
  let currentPageIndex = 0;
  const answers = [];
  let nextPageIndex = currentPageIndex;
  rawPages.forEach((page, index) => {
    const temp_obj = new Object;
    temp_obj.html = page;
    temp_obj.index = index;
    temp_obj.q1 = page.querySelector('.first');
    temp_obj.q2 = page.querySelector('.second');
    temp_obj.q3 = page.querySelector('.third');
    temp_obj.questions = page.querySelectorAll('.question')
    if (index == 0) {
      temp_obj.displaying = true;
    } else {
      temp_obj.displaying = false;
    }
    pages.push(temp_obj)
  })

  const selectAnswer = () => {
    console.log(nextPageIndex)
    pages[nextPageIndex].questions.forEach((question) => {
      question.addEventListener('click', (event) => {
        // SPECIFY ANSWER
        answers[nextPageIndex] = event.target.innerText
        pages[nextPageIndex].questions.forEach((q) => {
          q.classList.remove('active-question');
        })
        question.classList.add('active-question');
      })
    })
  }

  const sendTheForm = () => {
    const form = document.createElement('form');
    form.method = 'post';
    form.action = '/answer';

    answers.forEach((answer,index) => {
      const hiddenField = document.createElement('input');
      hiddenField.name = `question${index}`
      hiddenField.value = answer
      form.appendChild(hiddenField);
    })

    const hiddenField1 = document.createElement('input');
    hiddenField1.name = 'authenticity_token'
    hiddenField1.value = document.getElementById('auth-token').innerText
    form.appendChild(hiddenField1)

    document.body.appendChild(form);
    form.submit();
  }

  const displayNext = (event) => {
    pages.forEach((page, index) => {
      if (page.displaying == true) {
        currentPageIndex = page.index;
        page.displaying = false;
        page.html.style.display = 'none';
      } else {
        page.html.style.display = 'none'
      }
    })
    nextPageIndex += 1;
    if (nextPageIndex > 9) {
      console.log('we reached the end')
      sendTheForm();
    } else {
      pages[nextPageIndex].html.style.display = 'block'
      pages[nextPageIndex].displaying = true;
      selectAnswer();
    }
  }

  selectAnswer();
  document.querySelector('#button1').addEventListener('click', displayNext);
</script>
<style>
  .questionaire {
    width: 500px;
    height: 500px;
  }

  .active-question {
    border: 5px solid red;
  }
</style>
