<h2>These are your top 3 sports</h2>

<% Score.where(user_id: current_user.id).order(level: :desc).limit(3).each do |score| %>
<div>
<%= num %> <%= score.sport.name %>
</div>
<% num += 1 %>
<% end %>

