<h2>These are your top 3 sports</h2>
<% num = 1 %>
<% Score.where(user_id: current_user.id).order(level: :desc).limit(3).each do |score| %>

<div class="d-flex">
<%= num %> <%= cl_image_tag score.sport.photo %> <%= score.sport.name %>
<%= score.sport.name %>

</div>
<% end %>

