.btn-confirm {
  color: #fff;
  background-color: rgba(192, 124, 186, 0.8);
  border-radius: 25px;
  padding: 10px;

  &:hover {
  color: #fff;
  background-color: rgba(192, 124, 186, 1);
  transition: ease 0.3s;
  }

}

.btn-other {
  color: rgba(192, 124, 186, 0.8);
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;

  &:hover {
  color: rgba(192, 124, 186, 1);
  background-color: #fff;
  border: 1px solid rgba(192, 124, 186, 1);
  transition: ease 0.3s;
  }

}
