.card-origin {
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(26,87,120,.26);
  padding: 20px;
  background: rgba(255,255,255,0.8);
  margin: 15px;
}

.card-vertical {
  width: 250px;
  min-height: 300px;
  display: block;
  align-items: center;
}

.card-horizontal {
  width: 500px;
  display: flex;
  align-items: center;
}
