// .mapboxgl-marker {
//   position: absolute;
// }

.mapboxgl-canvas {
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(54,54,54,.19);
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

// #map .mapboxgl-map{
//   overflow: hidden;
// }
// .mapboxgl-canvas-container {
//   overflow: hidden;
// }

// .mapboxgl-interactive {
//   overflow: hidden;
// }

// .mapboxgl-touch-drag-pan {
//   overflow: hidden;
// }

// .mapboxgl-touch-zoom-rotate{
//   overflow: hidden;
// }

// .fuckmap {
//   overflow: hidden;
// }

// .mapboxgl-marker {
//   overflow: hidden;
// }

// .mapboxgl-marker-anchor-center {
//   overflow: hidden;
// }













