.tag {
  background-color: rgba(54, 54, 54, 0.4);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 10px;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
